.topimg {
	height: 380px;
}
.leftbox {
	width: 330px;
	float: left;

}
.leftbox .pic1 {
	width: 330px;
	height: 250px;
}
.leftbox .pic2 {
	width: 330px;
	height: 250px;
	margin-top: 5px;
}
.centerbox {
	width: 330px;
	float: left;
	margin-left: 3px;
}
.rightbox {
	width: 330px;
	float: right;
}
.contentbox {
}
.contentbox .titlebox {
	height: 50px;
	line-height:50px;
	border-bottom:solid 2px #999;
}
.contentbox .titlebox .lefttitle {
	font-size: 1.2em;
	font-weight: bold;
	float: left;
	margin-left:3px;
	color:#93C;
}
.contentbox .titlebox .rightmore {
	float: right;
	margin-right: 3px;
}
.contentbox .content
{
	padding:5px;
}
.contentbox .content ul li
{
	background:url(../images/dot1.jpg) no-repeat -3px 8px;
	height:30px;
	line-height:30px;
	border-bottom:dashed 1px #CCC;
}
.contentbox .content ul li a
{
	padding-left:5px;
	float:left;
}
.contentbox .content ul li span
{
	width:80px;
	float:right;
}